{% extends 'admin/admin.html' %}

{% block content %}
    <section class="content-header">
        <h1>个人电影网</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 管理员管理</a></li>
            <li class="active">添加管理员</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加管理员</h3>
                    </div>
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        <div class="box-body">
                            <div class="form-group">
                                <label for="input_name">管理员名称</label>
                                {{ form.name }}
{#                                <input type="text" class="form-control" id="input_name" placeholder="请输入管理员名称！">#}
                            </div>
                            <div class="form-group">
                                <label for="input_pwd">管理员密码</label>
                                {{ form.pwd }}
{#                                <input type="password" class="form-control" id="input_pwd" placeholder="请输入管理员密码！">#}
                            </div>
                            <div class="form-group">
                                <label for="input_re_pwd">管理员重复密码</label>
                                {{ form.repwd }}
{#                                <input type="password" class="form-control" id="input_re_pwd"#}
{#                                       placeholder="请输入管理员重复密码！">#}
                            </div>
{#                            <div class="form-group">#}
{#                                <label for="input_role_id">所属角色</label>#}
{#                                {{ form.role_id }}#}
{#                            </div>#}
                        </div>
                        <div class="box-footer">
                            {{ form.submit }}
{#                            <button type="submit" class="btn btn-primary">添加</button>#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}