{% extends 'admin/admin.html' %}
{% import 'ui/page.html' as pg %}


{% block content %}
    <section class="content-header">
        <h1>个人电影网</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
            <li class="active">用户列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">用户列表</h3>
{#                        <div class="box-tools">#}
{#                            <div class="input-group input-group-sm" style="width: 150px;">#}
{#                                <input type="text" name="table_search" class="form-control pull-right"#}
{#                                       placeholder="请输入关键字...">#}
{##}
{#                                <div class="input-group-btn">#}
{#                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                {% for msg in get_flashed_messages() %}
                                    <span style="color:red">{{ msg }}</span>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>id</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>手机</th>
                                <th>注册时间</th>
                                <th>操作</th>
                            </tr>
                            {% for user in page_data.items %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.addtime }}</td>

                                    <td>
                                        <a class="label label-success"
                                           href="{{ url_for('admin.user_detail', userid=user.id) }}">查看</a>
                                        <a class="label label-danger" href="{{ url_for("admin.user_del", userid=user.id) }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {{ pg.page(page_data, "admin.user_list") }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}