{% extends 'admin/admin.html' %}
{% import "ui/page.html" as pg %}

{% block content %}
    <section class="content-header">
        <h1>个人电影网</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 日志管理</a></li>
            <li class="active">用户登录日志列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">用户登录日志列表</h3>
{#                        <div class="box-tools">#}
{#                            <div class="input-group input-group-sm" style="width: 150px;">#}
{#                                <input type="text" name="table_search" class="form-control pull-right"#}
{#                                       placeholder="请输入关键字...">#}
{##}
{#                                <div class="input-group-btn">#}
{#                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>编号</th>
                                <th>用户名</th>
                                <th>登录时间</th>
                                <th>登录IP</th>
                            </tr>
                            {% for i in data_page.items %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.user.name }}</td>
                                <td>{{ i.addtime }}</td>
                                <td>{{ i.ip }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                           {{ pg.page(data_page, "admin.userloginlog_list") }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}